/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('setting.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--sidebar-width-open);
    background: var(--theme-color);
    z-index: 100;
    transition: all var(--transition-time) ease;
}

.sidebar.close {
    width: var(--sidebar-width-close);
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 30px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: var(--theme-text-color);
    min-width: var(--sidebar-width-close);
}

.sidebar .logo-details .logo_name {
    font-size: 20px;
    font-weight: 600;
    color: var(--theme-text-color);
    transition: all var(--transition-time) ease var(--transition-delay);
}

.sidebar.close .logo-details .logo_name {
    opacity: 0;
    pointer-events: none;
    transition: none;
    transition-delay: 0s;
}

.sidebar .navigation {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .navigation {
    overflow: visible;
    transition: none;
    transition-delay: 0s;
}

.sidebar .navigation::-webkit-scrollbar {
    display: none;
}

.sidebar .navigation li {
    position: relative;
    list-style: none;
}

.sidebar .navigation li:hover {
    background: var(--theme-sub-color);
}

.sidebar .navigation li .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .navigation li .nav-link {
    display: block
}

.sidebar .navigation li i {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    min-width: var(--sidebar-width-close);
    color: var(--theme-text-color);
}

.sidebar .navigation li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .navigation i.arrow {
    display: none;
}

.sidebar .navigation li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .navigation li a .category_name {
    font-weight: 400;
    font-size: var(--sidebar-fontsize-category);
    color: var(--theme-text-color);
    transition: all var(--transition-time) ease var(--transition-delay);
}

.sidebar.close .navigation li a .category_name {
    opacity: 0;
    pointer-events: none;
    transition: 0s;
}

.sidebar .navigation li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    display: none;
    background: var(--theme-sub-color);
    transition: all var(--transition-time) ease var(--transition-delay);
}

.sidebar .navigation li.showMenu .sub-menu {
    display: block;
}

.sidebar .navigation li .sub-menu a {
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    font-size: var(--sidebar-fontsize-item);
    color: var(--theme-text-color);
}

.sidebar .navigation li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .navigation li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .navigation li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all var(--transition-time) ease;
}

.sidebar .navigation li .sub-menu .category_name {
    display: none;
}

.sidebar.close .navigation li .sub-menu .category_name {
    opacity: 1;
    display: block;
    font-size: var(--sidebar-fontsize-category);
}

.sidebar .navigation li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .navigation li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    background: var(--theme-sub-color);
    width: var(--sidebar-width-open);
    transition: all var(--transition-time) ease;
}

.sidebar.close .profile-details {
    background: none;
    width: var(--sidebar-width-close);
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: var(--theme-sub-color);
    transition: all var(--transition-time) ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details i,
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    font-weight: 500;
    white-space: nowrap;
    font-size: var(--sidebar-fontsize-category);
    min-width: var(--sidebar-width-close);
    color: var(--theme-text-color);
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: var(--sidebar-fontsize-item);
}

.home-section {
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    padding: 12px;
    left: var(--sidebar-width-open);
    width: calc(100% - var(--sidebar-width-open));
    transition: all var(--transition-time) ease;
}

.sidebar.close~.home-section {
    left: var(--sidebar-width-close);
    width: calc(100% - var(--sidebar-width-close));
}

.home-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
