
@import url('setting.css');

table {
    width: 100%;
}

table thead tr {
    background-color: var(--theme-color);
    color: var(--theme-text-color);
}

table tbody tr td {
    font-size: 14px;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #ddd;
}

.btn-primary {
    background-color: var(--theme-color) !important;
    border: none !important;
    margin: 10px;
}