:root {
    --theme-color: #00b3f0;
    --theme-sub-color: #00bfff;
    --theme-text-color:#ffffff;
    --transition-time: 0.5s;
    --transition-delay: 0.3s;
    --sidebar-width-close: 70px;
    --sidebar-fontsize-category: 16px;
    --sidebar-fontsize-item: 14px;
    --sidebar-width-open: 370px;
    --padding: 10px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: var(--theme-sub-color) !important;
}

div.dataTables_filter,
div.dataTables_length {
    padding: 10px;
}