
@import url('setting.css');

table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

table.dataTable thead tr {
    background-color: var(--theme-color);
    color: var(--theme-text-color);
    width: auto;
}

table.dataTable tbody tr td {
    font-size: 14px;
    width: auto;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.dataTable tbody tr:hover {
    background-color: #ddd;
}

.btn-primary {
    background-color: var(--theme-color) !important;
    border: none !important;
    margin: 10px;
}

pop-up > label {
    width: var(--pop-up-label-width);
    margin: var(--label-input-margin);
}

pop-up > input {
    width: var(--pop-up-input-width);
    margin: var(--label-input-margin);
}

pop-up > select {
    width: var(--pop-up-input-width);
    margin: var(--label-input-margin);
}

div.row {
    width: 100%;
    display: flex;
}

div.one-col {
    width: 100%;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

div.one-col > label {
    width: var(--label-width);
    margin: var(--label-input-margin);
    vertical-align: middle;
}

div.one-col > input,
div.one-col > select,
div.one-col > textarea {
    width: var(--input-width);
    margin: var(--label-input-margin);
    vertical-align: middle;
}

div.two-col {
    width: 50%;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

div.two-col > label {
    width: var(--label-width);
    margin: var(--label-input-margin);
    vertical-align: middle;
}

div.two-col > input,
div.two-col > select,
div.two-col > textarea {
    width: var(--input-width);
    margin: var(--label-input-margin);
    vertical-align: middle;
}

div.three-col {
    width: 33%;
    padding-left: var(--padding);
    padding-right: var(--padding);
}