*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
/* menu sidebar */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px; /*350*/
    background: #00b3f0;
    padding: 10px 10px;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 350px;
}
.sidebar .title .name{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0; /*1*/
    pointer-events: none;
    transition: all o.5s ease;
}
.sidebar.active .title .name{
    opacity: 1;
    pointer-events: none;
    font-size: 20px;
}
.sidebar #btn{
    position: absolute;
    color: white;
    left: 50%; /*90%*/
    top: 20px;
    font-size: 20px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 30px;
    padding: 0px 10px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    font-size: 16px;
}
.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: black;
    background: white;
}
.sidebar ul li a #icon{
    height: 20px;
    min-height: 20px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    margin-right: 23px;
}
.sidebar .link_name{
    opacity: 0; /*1*/
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .link_name{
    opacity: 1; 
    pointer-events: auto;
}
.sidebar .profile_content{
    position: relative;
    color: white;
    margin-top: 30px;
    text-align: center;
    opacity: 0; /*1*/
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.5s ease;
}
.sidebar.active .profile_content{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_details img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 90px;
}
.sidebar .profile_details .name{
    font-size: 22px;
    font-weight: 500;
}

/* home */
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 70px);
    left: 70px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home_content{
    width: calc(100% - 350px);
    left: 350px;
}

.card-row{
    height: 30%;
}
.card{
    transition: 0.5s;
}
.card::before .card::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: black;
    content: '';
    pointer-events: none;
}
.card::before{
    transform-origin: left top;
}
.card::after{
    transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::after{
    transform: scale3d(1, 1, 1);
}

/* menu dropdown */
.dropdown-menu{
    background: whitesmoke;
}
.dropdown-menu li a{
    color: black !important;
}
.dropdown-menu li a:hover{
    color: white !important;
    background: black !important;
}
.down-arrow{
    padding-left: 10px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: all 0.5s ease !important;
}
.sidebar.active .down-arrow{
    opacity: 1 !important;
    pointer-events: auto ;
}